<div class="connexion">
  <h1>Administration</h1>
  </br>
  <form class="connexion" method="post">
    <label>Login : </label><input type="text" name="login">
    <br>
    <label>Mot de passe : </label><input type="password" name="mdp">
    <br>
    <button type="Annuler" name="Annuler">Annuler</button>
    <button type="Connexion" name="Connexion">Connexion</button>
  </form>
</div>
